on: [push, pull_request]

env:
    APT_INSTALL: sudo apt install -y --no-install-recommends


jobs:
    jammy_test:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make install_ubuntu_test_deps
            - run: make test

    noble_test:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - run: make install_ubuntu_test_deps
            - run: make test
